.App {
  font-family: sans-serif;
  text-align: center;
}

.Main-Container {
  display: flex;
  flex-direction: column;
  background-color: darkslategray;
}

.Timer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
}

#clock {
  font-size: 45px;
  text-align: center;
}

#type {
  font-size: 12px;
  color: white;
  word-spacing: 1.5em;
}

.btn {
  display: flex;
  justify-content: center;
}

.Reset {
  border: none;
  background-color: crimson;
  color: white;
  margin: 15px;
  width: 90px;
  height: 35px;
  border-radius: 5px;
}

.Start_Pause {
  border: none;
  background-color: darkseagreen;
  color: white;
  margin: 15px;
  width: 90px;
  height: 35px;
  border-radius: 5px;
}
